header>h1:first-child{
    flex-shrink: 0;
    color: #FFB400;
    font-family:"Roboto Light";
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    margin-left: 13px;
    display: inline-block;
    margin-right: 420px;
}
/*header>nav{*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*}*/
/*header>nav>ul>li{*/
/*    display: inline-block;*/
/*}*/
header>nav>ul{
    display: inline-block;
}

header>nav{
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 20px;

}
header>nav>ul>li{
    display: inline-block;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #222222;

}
header>nav>button{
    padding: 1rem 2rem;
    background-color: #ffb400;
    border: 2px solid #ffb400;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
    transition: all 0.5s;
    display: inline-block;

}

body{


}
header{
    margin-left: 50px;
}
section{
    margin-left: 50px;
}
main>:first-child{
    position: relative;
    width: 100vw;
    height: 100vh;
}
main>:first-child>aside:nth-child(2){

    position: absolute;
    display: inline-block;
    bottom: 0;
    top: 200px;
    right:50px;
    margin: auto;

}
main>:first-child>aside>:nth-child(1){
    color: #121111;
    font-family: Inria;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
main>:first-child>aside>:nth-child(2){
    color: #121111;
    font-family: Limelight;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
main>section:first-child>div:first-child {
  position: absolute;
    background: black;
    width: 400px;
    height: 500px;
    top: 0;
    bottom:  350px;
    right: 0;
    left:650px;
    margin: auto;
}
main > :nth-child(2) {
    height: 100vh;
    position: relative;
}

main > :nth-child(2) > div {
    position: absolute;
    top: 0;
    right: 178px;
    margin: 0;
}
main > section:first-child> div:nth-child(2) >h1 {

    position:relative;
    color: #ffb400;
    font-family:"candal";
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 100px;
    margin-bottom: 1px;
    margin-top: 2px;
}
main > section:first-child >div:nth-child(2)>h5:first-child{
    font-size: 2.4rem;
    color: #222222;
    font-family: "Roboto", sans-serif;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0;


}
main > section:first-child >div:nth-child(2)>h4{
    font-size: 2.4rem;
    color: #222222;
    font-family: "Roboto", sans-serif;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
}
main > section:first-child>div:nth-child(2)>p{
    font-size: 1.3rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #979797;
    margin-right: 600px;
    margin-top: 7px;
    word-spacing: 2px;

}
main>section:first-child>div:nth-child(2)>button{
    padding: 10px;
    background-color: #ffb400;
    border: 2px solid #ffb400;
    transition: all 0.5s;

}
main>section:first-child>div:nth-child(2)>div{
    position: relative;
    left: 120px;
    bottom: 50px;
}
main>section:first-child>div:nth-child(2){
position: relative;
    top: 150px;

}

