@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Josefin+Sans&family=Libre+Baskerville:wght@700&family=Roboto:wght@500&display=swap');

/*----------------------------------------Header-----------------------------------------------------*/

* {
    padding: 0;
}

header {
    position: sticky;

    height: 90px;
}

header > h1 {
    position: relative;
    top: 20px;
    left: 50px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #FFB400 54.17%, #FFB400 99.99%, rgba(255, 180, 0, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

header > nav {
    position: absolute;
    display: inline-block;
    right: 50px;
    margin-top: 16px;
}

header > nav > ul {
    display: inline-block;
    margin: 0;
}

header > nav > ul > li {
    display: inline-block;
    margin-right: 80px;
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

header > nav > a {
    padding: 1rem 4rem;
    background-color: rgb(255, 180, 0);
    border: 2px solid rgb(255, 180, 0);
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    font-weight: 400;
    transition: all 0.5s ease 0s;
    display: inline-block;
    text-decoration: none;
    border-radius: 18px;
}