@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Josefin+Sans&family=Libre+Baskerville:wght@700&family=Roboto:wght@500&display=swap');

/*----------------------------------------Header-----------------------------------------------------*/

* {
    padding: 0;
}

header {
    position: sticky;

    height: 90px;
}

header > h1 {
    position: relative;
    top: 20px;
    left: 50px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #FFB400 54.17%, #FFB400 99.99%, rgba(255, 180, 0, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

header > nav {
    position: absolute;
    display: inline-block;
    right: 50px;
    margin-top: 16px;
}

header > nav > ul {
    display: inline-block;
    margin: 0;
}

header > nav > ul > li {
    display: inline-block;
    margin-right: 80px;
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

header > nav > a {
    padding: 1rem 4rem;
    background-color: rgb(255, 180, 0);
    border: 2px solid rgb(255, 180, 0);
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    font-weight: 400;
    transition: all 0.5s ease 0s;
    display: inline-block;
    text-decoration: none;
    border-radius: 18px;
}
/*----------------------------------------Main-----------------------------------------------------*/

.super-section {
    padding: 40px;
}

.introduc {
    padding-top: 320px;
}

main > :first-child > :nth-child(1) {
    position: absolute;
    left: 70px;
    top: 250px;
}

main > :first-child > :nth-child(2) {
    position: absolute;
    right: 50px;
    top: 600px;

}

/*main>:first-child>:nth-child(3){*/
/*    position: absolute;*/
/*    right: 190px;*/
/*    top: 100px;*/
/*    height: 550px;*/
/*}*/

.me {
    display: flex;
    justify-content: right;
    width: 50%;
    position: absolute;
    right: 250px;
}

.me > img {
    height: 500px;
}

.introduc > h5 {
    color: #000;
    font-family: 'Bree Serif', serif;
    font-size: 53px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

.introduc > h1 {
    color: #FFB400;
    font-family: 'Bree Serif', serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.introduc > h4 {
    color: #000;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.1;
    margin: 0;
}

.introduc > p {
    color: #727374;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    margin-top: 45px;
}

.introduc > a {
    position: relative;
    padding: 8px;
    background-color: #ffb400;
    border: 2px solid #ffb400;
    transition: all 0.5s;
    border-radius: 36px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    bottom: 25px;
}

.introduc > div {
    position: relative;
    display: inline-block;
    left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

