@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Josefin+Sans&family=Libre+Baskerville:wght@700&family=Roboto:wght@500&display=swap');

header {
    width: 100%;
    position: fixed;
    height: 100px;

}

header > h1 {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #FFB400 54.17%, #FFB400 99.99%, rgba(255, 180, 0, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 35px;
    margin-left: 56px;
}

.nav-btn {
    position: absolute;
    display: inline-block;
    right: 100px;
    margin-top: 16px;
}

.nav-btn > ul {
    display: inline-block;
}

.nav-btn > ul > li {
    display: inline-block;
    margin-right: 80px;
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-btn > a {
    padding: 1rem 2rem;
    background-color: #ffb400;
    border: 2px solid #ffb400;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
    transition: all 0.5s;
    display: inline-block;
    text-decoration: none;
}

main > :first-child {
    position: absolute;
    bottom: 0;
    margin-left: 56px;
    margin-bottom: 43px;
}

.first-section > div > h5 {
    color: #000;
    font-family: 'Bree Serif', serif;
    font-size: 53px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

.first-section > div > h1 {
    color: #FFB400;
    font-family: 'Bree Serif', serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;

}

.first-section > div > h4 {
    color: #000;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.1;
    margin: 0;
}

.first-section > div > p {
    color: #727374;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    margin-top: 45px;
}

.first-section > div > a {
    position: relative;
    padding: 8px;
    background-color: #ffb400;
    border: 2px solid #ffb400;
    transition: all 0.5s;
    border-radius: 36px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    bottom: 25px;
}
.first-section>div>div{
    position: relative;
    display: inline-block;
    left: 5px;
    margin-top: 5px;
}




/*header>h1:first-child{*/
/*    flex-shrink: 0;*/
/*    color: #FFB400;*/
/*    font-family:"Roboto Light",sans-serif;*/
/*    font-size: 38px;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    line-height: normal;*/
/*    margin-top: 20px;*/
/*    margin-left: 13px;*/
/*    display: inline-block;*/
/*    margin-right: 420px;*/
/*}*/

/*!*header>nav{*!*/
/*!*    display: inline-block;*!*/
/*!*    width: 100%;*!*/
/*!*}*!*/
/*!*header>nav>ul>li{*!*/
/*!*    display: inline-block;*!*/
/*!*}*!*/
/*header>nav>ul{*/
/*    display: inline-block;*/
/*}*/

/*header>nav{*/
/*    display: inline-block;*/
/*    padding-left: 0;*/
/*    margin-bottom: 0;*/
/*    list-style: none;*/
/*    margin-top: 20px;*/

/*}*/
/*header>nav>ul>li{*/
/*    display: inline-block;*/
/*    margin-right: 50px;*/
/*    font-family: "Roboto", sans-serif;*/
/*    font-size: 1.4rem;*/
/*    font-weight: 400;*/
/*    color: #222222;*/

/*}*/
/*header>nav>button{*/
/*    padding: 1rem 2rem;*/
/*    background-color: #ffb400;*/
/*    border: 2px solid #ffb400;*/
/*    font-family: "Roboto", sans-serif;*/
/*    font-size: 1.4rem;*/
/*    color: #fff;*/
/*    font-weight: 400;*/
/*    transition: all 0.5s;*/
/*    display: inline-block;*/

/*}*/

/*body{*/


/*}*/
/*header{*/
/*    margin-left: 50px;*/
/*}*/
/*section{*/
/*    margin-left: 50px;*/
/*}*/
/*main>:first-child{*/
/*    position: relative;*/
/*}*/
/*main>:first-child>aside:nth-child(2){*/

/*    position: absolute;*/
/*    display: inline-block;*/
/*    bottom: 0;*/
/*    top: 200px;*/
/*    right:50px;*/
/*    margin: auto;*/

/*}*/
/*main>:first-child>aside>:nth-child(1){*/
/*    color: #121111;*/
/*    font-family: Inria;*/
/*    font-size: 36px;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    line-height: normal;*/
/*}*/
/*!*main>:first-child>aside>:nth-child(2){*!*/
/*!*    color: #121111;*!*/
/*!*    font-family: Limelight;*!*/
/*!*    font-size: 45px;*!*/
/*!*    font-style: normal;*!*/
/*!*    font-weight: 400;*!*/
/*!*    line-height: normal;*!*/
/*!*}*!*/
/*!*main>section:first-child>div:first-child {*!*/
/*!*  position: absolute;*!*/
/*!*    background: black;*!*/
/*!*    width: 400px;*!*/
/*!*    height: 500px;*!*/
/*!*    top: 0;*!*/
/*!*    bottom:  350px;*!*/
/*!*    right: 0;*!*/
/*!*    left:650px;*!*/
/*!*    margin: auto;*!*/
/*!*}*!*/
/*main > :nth-child(2) {*/
/*    position: relative;*/
/*}*/

/*main > :nth-child(2) > div {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 178px;*/
/*    margin: 0;*/
/*}*/
/*main > section:first-child> div:nth-child(2) >h1 {*/

/*    position:relative;*/
/*    color: #ffb400;*/
/*    font-family:"candal";*/
/*    letter-spacing: 3px;*/
/*    font-weight: 400;*/
/*    font-size: 100px;*/
/*    margin-bottom: 1px;*/
/*    margin-top: 2px;*/
/*}*/
/*main > section:first-child >div:nth-child(2)>h5:first-child{*/
/*    font-size: 2.4rem;*/
/*    color: #222222;*/
/*    font-family: "Roboto", sans-serif;*/
/*    line-height: 2rem;*/
/*    font-weight: 400;*/
/*    letter-spacing: 1px;*/
/*    margin-bottom: 0;*/
/*}*/
/*main > section:first-child >div:nth-child(2)>h4{*/
/*    font-size: 2.4rem;*/
/*    color: #222222;*/
/*    font-family: "Roboto", sans-serif;*/
/*    line-height: 2rem;*/
/*    font-weight: 400;*/
/*    letter-spacing: 1px;*/
/*    margin-top: 0;*/
/*    margin-bottom: 15px;*/
/*}*/
/*main > section:first-child>div:nth-child(2)>p{*/

/*    font-size: 1.3rem;*/
/*    font-weight: 400;*/
/*    font-family: "Roboto", sans-serif;*/
/*    color: #979797;*/
/*    width: 600px;*/
/*    word-spacing: 2px;*/
/*    margin-bottom: 15px;*/

/*}*/
/*main>section:first-child>div:nth-child(2)>button{*/
/*    padding: 10px;*/
/*    background-color: #ffb400;*/
/*    border: 2px solid #ffb400;*/
/*    transition: all 0.5s;*/

/*}*/
/*main>section:first-child>div:nth-child(2)>div{*/
/*    position: relative;*/
/*    left: 120px;*/
/*    bottom: 50px;*/
/*}*/
/*main>section:first-child>div:nth-child(2){*/
/*position: relative;*/
/*    top: 150px;*/

/*}*/

/*section:nth-child(2)>div:first-child>h1{*/

/*    display: flex;*/
/*    width: 571px;*/
/*    height: 109px;*/
/*    transform: rotate(-90deg);*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    flex-shrink: 0;*/
/*    color: #FFB400;*/
/*    font-family: Merriweather, serif;*/
/*    font-size: 111px;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    line-height: normal;*/
/*    position: relative;*/
/*    right: 150px;*/

/*}*/
/*section:nth-child(2)>div:nth-child(2)>h2:first-child{*/
/*    color: black;*/
/*    font-family: Inter;*/
/*    font-size: 58px;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    line-height: normal;*/
/*    letter-spacing: 1.6px;*/
/*}*/
/*section:nth-child(2)>div:nth-child(2)>h2:nth-child(2){*/
/*    position: relative;*/
/*    color: #FFB400;*/
/*    font-family: Inter;*/
/*    font-size: 74px;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    line-height: normal;*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/
/*   left: 275px;*/
/*    bottom: 125px;*/
/*    letter-spacing: 2px;*/
/*}*/
/*section:nth-child(2)>div:nth-child(2)>p{*/

/*    color: black;*/
/*    font-family: Josefin Sans;*/
/*    font-size: 27px;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    line-height: 40px;*/
/*    position: relative;*/
/*    bottom: 100px;*/
/*}*/
/*section:nth-child(2)>div:nth-child(2){*/
/*    position: relative;*/
/*    width: 400px;*/
/*    height: 456px;*/
/*    flex-shrink: 0;*/
/*    left: 900px;*/
/*    top: 0;*/
/*}*/
/*section:nth-child(2)>div:nth-child(2)>div{*/
/*width: 400px;*/
/*}*/




