main {
    width: 100%;
    height: 100vh;
    background-color: #edf2f4;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 95%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}


#cal {
    height: 80%;
    width: 25%;
    background-color: #a4a4a6;
    z-index: 100;
}

#cal > div:first-child {
    height: 20%;

}

#cal > div:nth-child(2) {
    height: 70%;
    z-index: 100;

}


#cal > div:nth-child(2) > div {
    margin: 2.5%;
    height: 95%;
    width: 95%;
}

.row {
    height: calc(80% / 5);
}
.container button{
    font-size: 2em;
}